@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

/*Aniations*/

@keyframes task-transition {
    from{
        background-color: white;
        color:#929292;
    }
    to{
        background-color: #ff7a00;
        border: none;
        color:white;
    }
}

body {
    color: #5D5F63;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    text-align: center;
}
/*
.sidebar-toggle {
    margin-left: -240px;
}
.sidebar {
    float: left;
    width: 100%;
    height: 100%;
    background: #293949;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    min-height:100vh;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}
.sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
    color: #1abc9c;
}
.sidebar #leftside-navigation ul li.active ul {
    display: block;
}
.sidebar #leftside-navigation ul li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
    color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
    display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
    width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
    padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
    display: none;
}
.sidebar #leftside-navigation ul ul li {
    background: #23313f;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #aeb2b7;
}
*/
.menubar-container{
    height: 100vh;
    min-width:72px;
    max-width:72px;
    padding: 0;
    background-color: #F8F8F8;
    border-right: solid 2px #929292;
}
/*---- Task section ----*/
.task-container-main{
    padding: 0;
    min-width: 350px;
    width:23%;
}
.task-container{
    width:100%;
    overflow-y: scroll;
    height:100vh;
}
.notes{
    background-color: white;
    height:100px;
}
.notes-text{
    padding:20px 20px 0px 20px;
    text-align: left;
    color:#929292;
    font-size: 32px;
}
.notes-count{
    padding:0px 0px 0px 20px;
    text-align: left;
    color:#929292;
    font-size: 16px;
}
.task{
    width:100%;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: inline-block;
    height:180px;
    border-right: solid 2px #929292;
    border-top: solid 2px #929292;
    border-left:none;
    color:#929292;
    overflow: hidden;
}
    .task:hover{
        width:100%;
        position: relative;
        background-color: #ff7a00;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        display: inline-block;
        height:180px;
        border-style: none;
        animation-name: task-transition;
        animation-duration: 0.3s;
        color:white;
        overflow: hidden;
    }

.task-check{
    width: 12%;
    position: absolute;
    right: 5%;
    top: 8%;
}

.task-name{
    padding:13px 0px 0px 20px;
    text-align: left;
    font-size: 26px;
}

.task-date{
    padding:0px 0px 0px 20px;
    text-align: left;
    font-size: 16px;
}

.task-content{
    padding:0px 0px 0px 20px;
    text-align: left;
    font-size: 16px;
}
/*.task{
    width:100%;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: inline-block;
    height:180px;
    border-style: solid;
    border-top-style: none;
    border-color: #929292;
    border-width: 2px;
}*/

.note-editor-container{
    width:77%;
    background-color: white;
    min-width:850px;
}
.note-information{
    height:60px;
    background-color: whitesmoke;
}
.note-name{
    padding:10px 10px ;
    text-align: left;
    color:#929292;
    font-size: 32px;
}
#note-editor{
    resize: none;
    height: 1000px;
    resize: none;
}